<!DOCTYPE html>
<html>
<head>
    <title>Edu Chatbot</title>
</head>
<body>

<h2>Welcome {{ request.user.username }}</h2>
<a href="/login/">Logout</a>

<h3>Your Chats</h3>
{% for chat in chats %}
    <p id="chat-{{ chat.id }}" onclick="selectChat({{ chat.id }})">
        {{ chat.title }}
    </p>
{% endfor %}


<hr>

<div id="chat-box"></div>

<input type="text" id="user-input">
<button onclick="sendMessage()">Send</button>

<script>
let currentChatId = null;

function selectChat(chatId){
    currentChatId = chatId;
    document.getElementById("chat-box").innerHTML = "";
}

async function sendMessage(){
    let input = document.getElementById("user-input").value;

    if (!input.trim()) return;

    // Show user message instantly
    document.getElementById("chat-box").innerHTML += 
        `<p><b>You:</b> ${input}</p>`;

    let response = await fetch(`/get-response/?message=${input}&chat_id=${currentChatId || ''}`);
    let data = await response.json();

    // Save new chat ID if created
    if (!currentChatId) {
        currentChatId = data.chat_id;
    }

    // Show bot reply
    document.getElementById("chat-box").innerHTML += 
        `<p><b>Bot:</b> ${data.response}</p>`;

    document.getElementById("user-input").value = "";
}
</script>

</body>
</html>